body {
  background-image: linear-gradient(90deg, rgb(169, 202, 109) 0%, rgba(220, 163, 250, 1) 45%, rgba(82, 202, 244, 1) 100%);
  ;
  background-size: cover;
}

@font-face {
  font-family: 'missuri';
  src: url(/source/El_Messiri/ElMessiri-VariableFont_wght.ttf);
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

}

.border1 {
  --angle: 0deg;
  width: 25vmin;
  height: 20vmin;
  border: .8rem solid;
  border-image: linear-gradient(var(--angle),
      #a73158,
      #eef0f5,
      #6600ff) 1;
  animation: 5s rotate linear infinite;
  margin-top: 20vh;
  margin-left: ;
}

@keyframes rotate {
  to {
    --angle: 360deg
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.bottom {
  display: flex;
  font-family: missuri;
  text-shadow: 2px 2px 5px #fff9fb;
  font-size: 100px;
  font-weight: bold;
  color: rgb(68, 34, 78);
  padding-top: 20%;
  text-align: center;
  align-items: stretch;
  justify-content: center;
  width: 25vmin;
  cursor: grab;
}

.part2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.part1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.randomlife {
  height: 200px;
  width: 400px;
  align-content: center;
  margin-top: 100px;
  font-family: missuri;
  font-size: 90px;
  text-shadow: 2px 2px 5px #f1eeef;
  text-align: center;
  color: rgb(121, 20, 124);
  visibility: hidden;
}

.randomwork {
  height: 200px;
  width: 400px;
  align-content: center;
  margin-top: 100px;
  font-family: missuri;
  font-size: 90px;
  text-shadow: 2px 2px 5px #f5f1f2;
  text-align: center;
  color: rgb(75, 13, 21);
  visibility: hidden;
}