body {
  background-image: url(/source/1676348665_gagaru-club-p-krasivie-uzori-krasivo-16.jpg);
  background-size: cover;
}

@font-face {
  font-family: 'buckin';
  src: url(/source/Baskin\ Robbins\ Cyr_1.ttf);
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.border1 {
  --angle: 0deg;
  width: 25vmin;
  height: 25vmin;
  border: .8rem solid;
  border-image: linear-gradient(var(--angle),
      #a73158,
      #eef0f5,
      #6600ff) 1;
  animation: 5s rotate linear infinite;
  margin-top: 20vh;
  margin-left: ;
}

@keyframes rotate {
  to {
    --angle: 360deg
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.bottom {
  display: flex;
  font-family: buckin;
  text-shadow: 1px 1px 2px #a73158;
  font-size: 60px;
  font-weight: bold;
  color: rgb(158, 202, 146);
  padding: 60px 20px;
  text-align: center;
  align-items: stretch;
  justify-content: center;
  background-image: url(/source/i80mCFwgb6s.jpg)
}

.part2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.part1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.randomlife {
  height: 100px;
  width: 300px;
  align-content: center;
  margin-top: 50px;
  border: 1px solid black;
  font-family: buckin;
  font-size: 70px;
  text-shadow: 1px 1px 2px #a73158;
  text-align: center;
  margin-left: -40px;
  color: rgb(158, 202, 146);
}

.randomwork {
  height: 100px;
  width: 300px;
  align-content: center;
  margin-top: 50px;
  border: 1px solid black;
  font-family: buckin;
  font-size: 70px;
  text-shadow: 1px 1px 2px #a73158;
  text-align: center;
  margin-left: -40px;
  color: rgb(158, 202, 146);
}